# Dependencies
node_modules/

# Build outputs
dist/
out/
build/

# Environment files
.env
.env.local

# OS files
.DS_Store
.Thumbs.db
desktop.ini

# Logs
*.log

# Editor files
.vscode/
.idea/

# notes
archiv/

#.tsbuildinfo
.tsbuildinfo

# package-lock.json
package-lock.json